# =========================================================
# ENVIRONMENT / SECRETS
# =========================================================

.env
.env.*
!.env.example

# Local Spring configuration
application-local.properties

# IDE
.idea/
*.iml
*.iws
*.ipr

# Maven
target/

# Logs
*.log